<div class="row">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" name="" id="name" class="form-control ">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="name">Quantity</label>
                    <input type="text" name="" id="qty" class="form-control ">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="name">Quantity Type</label>
                    <input type="text" name="" id="qtyType" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary " type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>